@import url("https://fonts.googleapis.com/css2?family=Poetsen+One&family=Rajdhani:wght@300;400;500;600;700&display=swap");

* {
  font-family: "Rajdhani", sans-serif;
  font-weight: 500;
  font-style: normal;
}

/* bg img */
body {
  background: url("/static/header.jpg") no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  -o-background-size: cover;
}

.navbar {
  background: url("/static/header.jpg") no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  -o-background-size: cover;
}

/* #headings */
.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  padding: 20px;
}

.text-group {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.main-heading {
  color: #000000;
}

.sub-heading {
  color: #ffffff;
  margin-top: 8px;
}

.mini-heading {
  color: rgb(11, 144, 161);
  margin-top: 2px;
}

@media (min-width: 768px) {
  .text-group {
    flex-direction: row;
    justify-content: center;
    text-align: left;
  }

  .main-heading {
    margin-right: 20px;
  }

  .sub-heading {
    margin-left: 20px;
  }

  .mini-heading {
    margin-left: 40px;
  }
}
